<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row g-4 g-lg-5 text-center text-lg-start justify-content-center justify-content-lg-start">
          <div class="col-lg-3 col-md-4 col-sm-5 col-6">
            <img class="img-fluid rounded" src="{{image}}" alt="{{author?.name}}" width="250" height="250">
            
          </div>
          <div class="col-lg-9 col-md-12">
            <p class="mb-2"><span class="fw-bold text-black"> {{author?.publishedPosts}} </span> Published posts</p>
            <h1 class="h3 text-dark mb-3"> {{author?.name}} </h1>
            <div class="content">
              <p>{{author?.about}}</p>
              <p>Follow him <a target="_blank" href="https://twitter.com/thomas-macaulay">on Twitter</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>