  <!-- blog warpper start -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">
            <span>Recent posts</span>
          </h2>
        </div>
      </div>
      <div class="row gy-5 gx-4 g-xl-5">
        <div *ngFor="let article of articles" class="col-lg-6">
          <article class="card post-card h-100 border-0 bg-transparent">
            <div class="card-body">
              <a class="d-block" routerLink="../article/{{article._id}}" title="{{article.title}}">
                <div class="post-image position-relative">
                  <img class="w-100 h-auto rounded" [src]="getImage(article.image)" alt="The AGI hype train is running out of steam" width="970" height="500">
                </div>
              </a>
              <ul class="card-meta list-inline mb-3 d-flex justify-content-between align-items-center">
                <li class="list-inline-item mt-2">
                  <i class="ti ti-calendar-event"></i>
                  <span> {{article.date}} </span>
                </li>
                <li *ngIf="isActionBtnEnabled" class="list-inline-item">
                  <div class="d-flex justify-content-center gap-3">
                    <button class="btn-sm btn btn-secondary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                      </svg>
                  </button>
                    <button class="btn-sm btn btn-danger">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                      </svg>
                    </button>
                  </div>
                </li>
              </ul>
              <a class="d-block" routerLink="../article/{{article._id}}">
                <h3 class="mb-3 post-title">
                  {{article.title}}
                </h3>
              </a>
              <p>{{article.content.substring(0, 150)}}...</p>
            </div>
            <div class="card-footer border-top-0 bg-transparent p-0">
              <ul class="card-meta list-inline">
                <li class="list-inline-item mt-2">
                  <a routerLink="../author/{{article.author._id}}" class="card-meta-author" title="Read all posts by - {{article.author.name}} {{article.author.lastname}}">
                    <img class="w-auto" [src]="getImage(article.author.image)"  width="26" height="26"> by <span>{{article.author.name}}</span>
                  </a>
                </li>
                <li class="list-inline-item mt-2">•</li>
                <li class="list-inline-item mt-2">
                  <ul class="card-meta-tag list-inline">
                    <li *ngFor="let tag of article.tags" class="list-inline-item small"><a> {{tag}} </a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <!-- blog warpper end -->