<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row g-4 g-lg-5 text-center text-lg-start justify-content-center justify-content-lg-start">
          <div class="col-lg-3 col-md-4 col-sm-5 col-6">
            <div class="position-relative" width="250" height="250">
                <img class="img-fluid rounded" [src]="imageUrl ?? image" alt="{{author?.name}}" width="250" height="250">
            <button (click)="file.click()" class="btn btn-secondary btn-sm position-absolute end-0 bottom-0">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
                    <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z"/>
                    <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                  </svg>
            </button>
            </div>
            
          </div>
          <div class="col-lg-9 col-md-12">
            <p class="mb-2"><span class="fw-bold text-black"> {{author?.publishedPosts}} </span> Published posts</p>
            <form [formGroup]="form" (ngSubmit)="editAuthor()">
                <input type="text" formControlName="name"  class="form-control h3 text-dark mb-3 input-height" placeholder="Author's name" required>
                <input type="text" formControlName="about"  class="form-control  text-dark mb-3 input-height" placeholder="Author's bio" required>
                <input type="file" (change)="select($event)" #file class="form-control m-1" placeholder="image" hidden>
                <div class="content">
              
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                  </div>
            </form>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>