<div class="container mt-4">


    <h2 class="text-center"><span *ngIf="!isEdit">Create</span><span *ngIf="isEdit">Edit</span> article  </h2>
   
    <div class="col-6 mx-auto">
        <div *ngIf="success"  class="p-3 mb-2 bg-success text-white">Article <span *ngIf="!isEdit">Created</span><span *ngIf="isEdit">Edited</span> successfully !</div>
        <div *ngIf="error"  class="p-3 mb-2 bg-danger text-white">Article not <span *ngIf="!isEdit">Created</span><span *ngIf="isEdit">Edited</span></div>
        <form [formGroup]="articleForm" (ngSubmit)="isEdit ? editArticle() : addArticle()">

            <input formControlName="title" id="title" type="text" class="form-control m-1" placeholder="Title" required>
            <div *ngIf="title.invalid && title.touched">
                <small *ngIf="title.errors?.['required']" class="text-danger m-2">Title is required.</small>
            </div>
        
            <span *ngFor = 'let tag of tags' class="badge rounded-pill bg-secondary ms-1" (click)="removeTag(tag)"> {{tag}} </span>
        
        <div class="row m-1" >
            <input formControlName="tag" type="text" class="form-control w-75" placeholder="tag"> 
            <button class="btn btn-dark w-25" (click)="addTags()" type="button">Add</button>
    
        </div>
     
        <input type="file" (change)="select($event)" class="form-control m-1" placeholder="image">

        <textarea  formControlName="content"  id="" cols="30" rows="4" placeholder="Article Content." class="form-control m-1" ></textarea>
        <div *ngIf="content.invalid && content.touched">
            <small *ngIf="content.errors?.['required']" class="text-danger m-2">Content is required.</small>
            <small *ngIf="content.errors?.['minlength']" class="text-danger m-2">Content should be at least 500 caracters.</small>
        </div>
    

        <button type="submit" class="btn btn-dark form-control m-1" [disabled]="articleForm.invalid"><span *ngIf="!isEdit">Publish</span><span *ngIf="isEdit">Edit</span></button>

    </form>
    </div>

</div>