
<div [formGroup]="changePasswordForm" class="col-6 mx-auto mt-5">

    <form >

        <input formControlName="currentPassword" type="password" class="form-control m-1" placeholder="Current password" required>
        
       
        <input formControlName="newPassword" type="password" class="form-control m-1" placeholder="New password">

        <input formControlName="confirmNewPassword" type="password" class="form-control m-1" placeholder="Confirm your new password">
        

        <button type="submit" class="btn btn-dark form-control m-1" >Submit</button>

    </form>
    </div>