<section class="page-header section-sm">
  @if (isLoading) {
    <p>Loading ...</p>
  } @else {
    @if (isEdit) {
    <app-edit-author (sendAuthorEvent)="getEditedAuthor($event)" [author]="author" [image]="image"></app-edit-author>
  } @else {
    <app-info-author [author]="author" [image]="image"></app-info-author>
  }
   <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <button class="transparent-btn" (click)="toggleEdit()">
          <span class="btn btn-xs btn-primary" *ngIf="!isEdit">Edit account</span>
          <span class="btn btn-xs btn-danger" *ngIf="isEdit">Discard changes</span>
        </button>
        <a routerLink="/change-password" class="btn btn-xs btn-secondary" *ngIf="!isEdit">Change password</a>
      </div>
    </div> 
    
   </div>
    
  }
    
  </section>
  <app-blog-list [articles]="articles" ></app-blog-list>